body
    {
    width: 100%;
    height: 100%;
    background-image:url(img/bg_black.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }

.header h1 {
  margin-top: 150px;
  font-family: sans-serif;
  text-align: center;
  font-size:40px;
  color: white;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;     
}

.btn-box {
  width: 650px;
  height: auto;
  margin: 2% auto;
  padding: 20px;
  background-color: rgba(200, 200, 200, 0.5);
  #border-radius: 15px;
  text-align: center;  
  }

/* buttons of index*/
.btn-1 {    
  width: 90%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px 25px;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #223;
  border: 2px solid #fff;   
  margin-top: 3px;
  cursor: pointer;
  text-align: left;
  }
  
.btn-1:hover {  
  background-color: #33333b; 
}

a {
  text-decoration: none;
  color: white;
}
a:link {
  color: #ddd;
}
a:hover {  
  text-shadow: 0px 0px 3px #baa866, 0px 0px 5px #baa866;
}
a:visited{
  text-shadow: 0px 0px 3px #baa866, 0px 0px 5px #baa866;
}
a:active{
  color: 0px 0px 3px #baa866, 0px 0px 5px #baa866;
}